@charset "utf-8";

/* Navigation Hover Styles */
nav a {
    position: relative;
}
nav a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    height: 1px;
    width: 100%;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}

header > nav > a:hover:after {
    transform: translateX(-50%) scaleX(100%);
}


/* Video Player Styles */
video {
    display: block;
    margin: 0 auto;
    border: solid 10px #8c1d40;
    border-radius: .3em;
}

@media screen and (max-width: 640px) {
    video {
        width: 100%;
        border: none;
        border-radius: 0;
    }
}

/* Loading Styles */
#loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

#loading img {
    max-width: 100%;
}

#loading h1 {
    font-size: 300%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    #loading {
        width: 100vw;
        height: 100vh;
        right: unset;
        bottom:  unset;
        z-index:  100;
    }
}

@media screen and (max-width: 767px) {
    #loading h1 {
        font-size: 200%;
    }
}


/* Keyframe Animations */
#loading .front, #loading .back {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loading .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100px);
}

@media screen and (max-width: 767px) {
    #loading .message {
        transform: translate(-50%, 40px);
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    #loading .message {
        transform: translate(-50%, 70px);
    }
}

@keyframes loading {
    0% {
        display: block;
    }
    99% {
        display: block;
    }
    100% {
        display: none;
    }
}

#loading {
    animation: loading;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes body-scroll {
    0% {
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    100% {
        overflow: auto;
    }
}

body {
    animation: body-scroll;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
/* Animation Styles */
#loading .sunburst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5, 0.38);
    transform-origin: center;
    background-color: #ffcb25;
    height: 100%;
    width: 100%;
    mask-image: url('sunburst_mask.png');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

@keyframes sunburst {
    0% {
        border-radius: 50%;
        box-shadow: 0 0 10px 10px white inset !important;
        mask-image: none;
        transform: translate(-50%, -50%) scale(0,0);
    }
    60% {
        border-radius: 30%;
        box-shadow: 0 0 10px 10px white inset !important;
        mask-image: none;
        transform: translate(-50%, -50%) scale(0.5, 0.38);
    }
    61% {
        box-shadow: none;
        border-radius: 30%;
        transform: translate(-50%, -50%) scale(1,1);
        mask-image: url('sunburst_mask.png');
    }
    100% {
        box-shadow: none;
        border-radius: 30%;
        transform: translate(-50%, -50%) scale(1,1);
        mask-image: url('sunburst_mask.png');
    }
    
}
#loading .sunburst {
    animation-name: sunburst;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

