@charset "utf-8";

/* Body Styles */
body {
    box-shadow:
        10px 0px 50px #333333,
        -10px 0px 50px #333333;
    background-image: linear-gradient(to bottom, #eeeeee 50%, #aaaaaa 100%);
}

/* Tab Navigation Styles */
body>header>nav.tabs {
    background-image: url("nav_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body>header>nav.tabs li {
    border: solid white 1px;
    border-bottom: none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
}

body>header>nav.tabs li:hover {
    box-shadow:
        0px -3px 3px -3px black,
        3px 0px 3px -3px black,
        -3px 0px 3px -3px black;
}

body>header>nav.tabs li.active {
    box-shadow:
        0px -3px 3px -3px black,
        3px 0px 3px -3px black,
        -3px 0px 3px -3px black;
}


/* Left Section Styles */
body>section#left>nav.vertical {
    border: solid 1px #8c1d40;
    border-radius: .75em;
    overflow: hidden;
}

body>section#left>article#hours {
    border: solid 1px #ffc627;
    border-radius: .75em;
    overflow: hidden;
}

body>section#left>article#hours h2 {
    border-bottom: solid 1px #333333;
}

/* Center Section Styles */
body>section#center>article#nutrition {
    border: solid 1px #333333;
}

body>section#center>article#nutrition p {
    border-top: solid 1px #333333;
}

body>section#center>article#nutrition p:first-of-type {
    border-top: none;
}

body>section#center>article#nutrition p.category:nth-of-type(2) {
    border-top: none;
}

body>section#center>article#nutrition p.subcategory {
    border-top: none;
}

/* Right Section Styles */
body>section#right blockquote {
    background-color: white;
    border: solid 1px #8c1d40;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 10px #333333);
}
body>section#right blockquote::before {
    content: "";
    border: solid transparent 26px;
    border-left-color: #8c1d40;
    transform: rotate(-45deg);
}
body>section#right blockquote::after {
    content: "";
    border: solid transparent 25px;
    border-left-color: white;
    transform: rotate(-45deg);
}
body>section#right > cite img {
    border-radius: 50%;
}